
* {
  box-sizing: border-box;
}

body {
  background-image: url('../img/45634.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.modal-open {
  overflow: scroll;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 20px;
  align-items: baseline;
}

h1 {
  font-size: 300%;
}

.container {
  margin-top: 90px;
  width: 100%;
  text-align: center;
}

.row {
  width: 100%;
  justify-content: center;
}

.pokemon-list {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px 50px;
}

@media (max-width:1450px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width:1200px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:750px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
}

.pokemon-button {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 130%;
  border: 2px solid black;
}

.pokemon-button:hover {
  background-color: darkblue;
  cursor: pointer;
}

.group-list-item {
  height: 50px;
  width: 300px
}

.img-container {
  width: 50%;
}

.conversion {
  margin-left: 7px;
  font-size: 80%;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.modal-dialog {
  user-select: none;
}
